  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: rgb(56, 55, 55);
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: column wrap ;
  align-content: center;
}

h1 {
  margin-top: 80px;
  font-size: 76px;
  margin-left: 40px;
  display: inline-block;
  font-weight: 400;
  text-shadow:  10px 5px 12px rgba(0, 0, 0, 0.202);
}

#cont-input {
  display: flex;
  justify-content: flex-start;
  margin: 40px;
}

.green {
  color: rgb(43, 203, 43);

}

.yellow {
  color: rgb(232, 225, 94);
  font-weight: 800;
}

#coin-inp {
  margin-right: 20px;
  padding: 8px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
}

#coin-inp:hover {
  box-shadow:  0 0 0 3px rgb(8, 60, 204);
  transition: 0.1s;
}

#input-button {
  padding: 4px 20px 4px 20px;
  font-size: 18px;
  background-color: rgb(43, 203, 43);
  color: white;
  font-weight: 800;
  border-style: none;
  border-radius: 5px;
}

#input-button:hover {
  background-color: rgb(25, 120, 25);
  transition: 0.2s;
}

#cont-result {
  display: flex;
  overflow-y: scroll;
  flex-flow: row wrap;
  width: 48%;
  height: 583px;
  background-color: rgba(0, 0, 0, 0.071);
  margin: 40px;
  padding: 6px;
  border-radius: 10px;
}

li {
  /* list-style-image: none; */
  list-style-image: url('./images/coins-svgrepo-com\ 1.png');
  padding: 16px;
  background-color: rgba(112, 112, 112, 0.128);
  border-radius: 5px;
  margin: 8px;
  box-shadow:  10px 5px 12px rgba(0, 0, 0, 0.202);
  min-width: 173px;
  min-height: 30px;
  max-width: 173px;
  font-size: 15px;
  list-style-position: inside;
  list-style-type: inherit;
}

li:hover {
  box-shadow:  0 0 0 2px rgb(83, 83, 83);
  transition: 0.1s;
}

#cont-result:hover {
  box-shadow:  0 0 0 2px rgb(38, 38, 38);
  transition: 0.1s;
}

#cont-result::-webkit-scrollbar {
  width: 12px;              
}

#cont-result::-webkit-scrollbar-track {
  background: rgb(33, 33, 33);  
  border-radius: 5px;      
}

#cont-result::-webkit-scrollbar-thumb {
  background-color: rgb(57, 57, 57);   
  border-radius: 20px;       
  border: 3px solid rgb(33, 33, 33);  
}